* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: #192a32;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.game-window {
	width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.game-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
}
.xo-logo {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.X-icon{
    color: #31C4BE;
    width: 50px;
}
/* .X {
    height: 21.21px;
    width: 21.21px;
    position: relative;
}
.lg {
    display: block;
	width: 5px;
	height: 25px;
	background-color: #31C4BE;
	border-radius: 10px;
    position: absolute;
    right: 8px;
    top: -2px;
}
.one{
    transform: rotate(45deg);
}
.two{
    transform: rotate(-45deg);
} */
.O-icon {
    width: 38px;
    height: 38px;
    border: 10px solid #F0B237;
    border-radius: 100%;
}

.move-tracker {
    background-color: #1F3540;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #102129;
}
.move-tracker-x-icon{
    width: 30px;
    color: #A8BEC9;
}
.move-tracker-o-icon{
    width: 24px;
    height: 24px;
    border: 6px solid #A8BEC9;
}
.move-tracker-text {
    font-size: 20px;
    color: #A8BEC9;
    font-weight: bold;
}
.restart-box {
    background-color: #A8BEC9;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 0px #6C8997;
    transition: 0.1s;
    cursor: pointer;
}
.restart-box:hover{
    transform: scale(1.1);
}
.restart-icon {
    color: #1F3540;
    width: 40px;
    transition: 0.2s;
}
.rotate{
    transform: rotate(180deg);
}
.game-box {
    margin-top: 25px;
    width: 100%;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.box {
    background-color: #1F3540;
    box-shadow: 0px 6px 0px #102129;
    border-radius: 10px;
    transition: transform 0.1s;
    transition: box-shadow 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-icon{
    transform: scale(1.8);
}
.box:hover{
    transform: scale(1.1);
}
.box:active{
    transform: scale(1.15);
}
.game-footer {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 70px;
    gap: 20px;
    margin-top: 25px;
}
.game-footer-box {
    background-color: #A8BEC9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-footer-box-text{
    color: #192A32;
}
.num{
    font-size: 25px;
    font-weight: bold;
}
.you{
    background-color: #31C4BE;
}
.cpu{
    background-color: #F2B237;
}
.display-none{
    display: none;
}
.shadow{
    box-shadow: 0px 0px 30px rgb(188, 255, 87);
}
.red-shadow{
    box-shadow: 0px 0px 30px rgb(255, 73, 73);
}